/* Media Query for Mobile Devices */
        @media (max-width: 480px) {
			
	.gallery {
    display: grid;
	grid-template-columns:repeat(1, minmax(auto,1FR));
    gap: 16px;
    height: auto;
	align-items: end;
	z-index: -1;
}
	figure{
	width: auto;
    height: auto;
    margin: 25px;
    position: relative;
    float: left;
    border-radius: 5%;
    overflow: hidden;
}

	.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	background: blue;
	align-items: end;
}



	figcaption{
    background:grey;
    color:#FFF;
    width:auto;
    height:20%;
    text-align:center;
	margin-top: -5px;
}

	.text{
	width: auto;
	padding: 20px;
}

	body{
	padding: 50px;
}
        }



         
        /* Media Query for low resolution  Tablets, Ipads */
        @media (min-width: 481px) and (max-width: 767px) {
			
	.gallery {
    display: grid;
	grid-template-columns:repeat(2, minmax(auto,1FR));
    gap: 16px;
    height: auto;
	align-items: end;
	z-index: -1;
}
	figure{
	width: auto;
    height: auto;
    margin: 25px;
    position: relative;
    float: left;
    border-radius: 5%;
    overflow: hidden;
}

	.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	background: blue;
	align-items: end;
}



	figcaption{
    background:grey;
    color:#FFF;
    width:auto;
    height:20%;
    text-align:center;
	margin-top: -5px;
}

	.text{
	width: auto;
	padding: 20px;
}

	body{
	padding: 50px;
}
        }
         
        /* Media Query for Tablets Ipads portrait mode */
        @media (min-width: 768px) and (max-width: 1024px){
			
	.gallery {
    display: grid;
	grid-template-columns:repeat(3, minmax(auto,1FR));
    gap: 16px;
    height: auto;
	align-items: end;
	z-index: -1;
}
	figure{
	width: auto;
    height: auto;
    margin: 25px;
    position: relative;
    float: left;
    border-radius: 5%;
    overflow: hidden;
}

	.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	background: blue;
	align-items: end;
}



	figcaption{
    background:grey;
    color:#FFF;
    width:auto;
    height:20%;
    text-align:center;
	margin-top: -5px;
}

	.text{
	width: auto;
	padding: 20px;
}

	body{
	padding: 50px;
}
        }
         
        /* Media Query for Laptops and Desktops */
        @media (min-width: 1025px) and (max-width: 1280px){
			
	.gallery {
    display: grid;
	grid-template-columns:repeat(5, minmax(auto,1FR));
    gap: 16px;
    height: auto;
	align-items: end;
	z-index: -1;
}
	figure{
	width: auto;
    height: auto;
    margin: 25px;
    position: relative;
    float: left;
    border-radius: 5%;
    overflow: hidden;
}

	.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	background: blue;
	align-items: end;
}



	figcaption{
    background:grey;
    color:#FFF;
    width:auto;
    height:20%;
    text-align:center;
	margin-top: -5px;
}

	.text{
	width: auto;
	padding: 20px;
}

	body{
	padding: 50px;
}
        }
         
       /* Media Query for Large screens */
         @media (min-width: 1281px) {
            
			
	.gallery {
    display: grid;
	grid-template-columns:repeat(5, minmax(auto,1FR));
    gap: 16px;
    height: auto;
	align-items: end;
	z-index: -1;
}
	figure{
	width: auto;
    height: auto;
    margin: 25px;
    position: relative;
    float: left;
    border-radius: 5%;
    overflow: hidden;
}

	.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
	background: blue;
	align-items: end;
}



	figcaption{
    background:grey;
    color:#FFF;
    width:auto;
    height:20%;
    text-align:center;
	margin-top: -5px;
}

	.text{
	width: auto;
	padding: 20px;
}

	body{
	padding: 50px;
}
        }


